{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
      {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
      {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
      {% do assets.addCss('theme://css/mlnck.css', 97) %}
    {% endblock %}
    {{ assets.css() }}

    {% block cssFromSettings %}
      <style>
        {% for k,v in site.categoryfilters %}
          .fleck.-{{ strtolower(k) }}{ background-color:{{ strtolower(v) }}; color:{{ strtolower(v) }} }
    			.-{{strtolower(k)}} a{ color: {{v}} }
          .-{{strtolower(k)}} code{ color: {{v}} }
          .gradient-{{strtolower(k)}}
          {
    				background: -moz-linear-gradient(left, #222 0%, {{v}} 40%, {{v}} 50%, {{v}} 62%, #222 100%); /* FF3.6-15 */
    			  background: -webkit-linear-gradient(left, #222 0%,{{v}} 40%,{{v}} 50%,{{v}} 62%,#222 100%); /* Chrome10-25,Safari5.1-6 */
    			  background: linear-gradient(to right, #222 0%,{{v}} 40%,{{v}} 50%,{{v}} 62%,#222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    			}
          {% if k == 'Tags' %}
            {# overwrite css for svg tag icon #}
            .fleck.-{{ strtolower(k) }}
            {
              background:transparent;

              border-radius:0;
              color:{{ strtolower(v) }};
              fill:{{ strtolower(v) }};
              path:{{ strtolower(v) }};
              stroke:1px
            }
          {% endif %}
        {% endfor %}
      </style>
    {% endblock %}

    {% block javascripts %}
      {% do assets.addJs('jquery', 100) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="mlnck" class="{{ page.header.body_classes }}">

{{dump('~~ROOT::START~~')}}
{{dump(site)}}
{{dump('~~ROOT::END~~')}}
<div class="portfolio-wrapper">
  <div class="portfolio-content">
    {% block content %}{% endblock %}
    {% if focused_item_amt('get') > 0%}
      <div class="mobilespacer" style="height:{{focused_item_amt('get')*80+40}}px">&nbsp;</div>
    {% endif %}
  </div>
  <div class="navspacer">
    {% block collapsedNav %}{% endblock %}
  </div>
</div>

{% block footer %}
  {% include 'partials/footer.html.twig' %}
{% endblock %}

<!-- position abs, default hidden -->
{% block settings %}
  <div class="settings">
    {% include 'partials/settings.html.twig' %}
  </div>
{% endblock %}

<!-- position abs, default hidden -->
{% block fullcategories %}
  <div class="full-filters">
    {% for k,v in site.categoryfilters %}
      {{ k }}-{{ v }}
    {% endfor %}
  </div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
