{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/mlnck.css', 97) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="mlnck" class="{{ page.header.body_classes }}">


<div class="portfolio-wrapper">
  <div class="portfolio-content">
    {% block content %}{% endblock %}
  </div>
  <div class="nav-spacer">
    {% block collapsedNav %}{% endblock %}
  </div>
</div>

{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}

<!-- position abs, default hidden -->
{% block settings %}
    {% include 'partials/settings.html.twig' %}
{% endblock %}

<!-- position abs, default hidden -->

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

{% if 1==2 %}
  {% block hrs %}
    <hr/><hr/>
  {% endblock %}

  {% block fpo %}
  <div class="portfolio-wrapper">
  <div class="content-wrapper">
    <aside>TL/Settings</aside>
    <main>
      <h1>TITLE</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam nisi, similique ex quae dicta eaque iusto quod, quibusdam facere in perspiciatis tempora! Cupiditate aliquid omnis ipsum libero accusamus eos aspernatur!</p>
    </main>
  </div>
  <div class="nav-spacer">B</div>
</div>
<footer>A • B</footer>
  {% endblock %}
{% endif %}

</body>
</html>
