<div class="category-filters">
<button class="catfilter-close">X</button>
{% for k,v in site.categoryfilters %}
  <div class="category-filter" data-category="{{strtolower(k)}}">
    {% if(k == 'Tags') %}
      {{ site.svgtagicon }}
    {% else %}
      <div class="fleck -{{ strtolower(k) }} -{{ strtolower(k) }}"></div>
    {% endif %}
    <a class="filter">{{ strtolower(k) }}</a>
  </div>
{% endfor %}
</div>
