<div class="timeline-wrapper -unfocused">
  {{dump('~~TIMELINE::START~~')}}
  {% set blog_focused = false %}
  {% set sorted_collection = page.collection|sort|reverse %}
  {% set filtered_collection = [] %}
  {% for p in sorted_collection %}
    {% if p.header.taxonomy.category[0] != 'Page' %}
      {% set filtered_collection = filtered_collection|merge([p]) %}
    {% endif %}
  {% endfor %}

  {% for p in filtered_collection %}
    <a href="/focus/{{p.slug}}">
      <div class="timeline-link">
        <div class="fleck -{{strtolower(p.header.taxonomy.category[0])}}{% if p.slug == focused_slug() %} -active{% endif %}"></div>
        <div class="link {{ (strlen(p.title) > 15) ? '-long' : '' }}">
            <span class="linkdate">{{p.date|date('Y.m.d')}}</span> &bull; <span class="linktitle">{{ p.title }}</span>
            {{dump(p)}}
        </div>
      </div>
    </a>

    {% if p.slug == focused_slug() %}
      {% if p.id != filtered_collection[filtered_collection|end_arr_key].id %}{# make sure it is not the final item #}
        </div><div class="timeline-wrapper -focused">
        {{ focused_item_amt(-1) }}
        {% set blog_focused = true %}
      {% endif %}
    {% endif %}

    {% if blog_focused == true %}
      {{ focused_item_amt(1) }}
    {% endif %}




  {% endfor %}
  {{dump('~~TIMELINE::END~~')}}
</div>
