<div class="timeline-wrapper">
  {% for p in page.collection %}
    {% if p.header.taxonomy.category[0] != 'Page' %}
    <a href="/focus/{{p.slug}}">
      <div class="timeline-link">
        <div class="fleck -{{strtolower(p.header.taxonomy.category[0])}}"></div>
        <div class="link {{ (strlen(p.title) > 15) ? '-long' : '' }}">
            <span class="linkdate">{{p.published_at|date('Y.m.d')}}</span> &bull; <span class="linktitle">{{ p.title }}</span>
        </div>
      </div>
      </a>
    {% endif %}
  {% endfor %}
</div>
